@page "/account/twitter/callback"
@model AccountTwitterCallback
@{
    ViewData["Title"] = "Authorize Twitter Callback";
}

<h1>Authorization Result</h1>

@if (@Model.AuthorizationResult != "OK")
{
    <pre><code>@Model.AuthorizationResult</code></pre>
}
else
{
    <p>OK</p>
}
