@page
@inject DatabaseService Database
@using BlueBirdDX.WebApp.Services
@using MongoDB.Driver
@using BlueBirdDX.Common.Account
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MongoDB.Bson
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    const string cookieName = "index-current-group";

    string? defaultGroupId = null;

    if (HttpContext.Request.Cookies.TryGetValue(cookieName, out string? groupCookie))
    {
        if (ObjectId.TryParse(groupCookie, out ObjectId groupId))
        {
            if (Database.AccountGroupCollection.AsQueryable().FirstOrDefault(g => g._id == groupId) != null)
            {
                defaultGroupId = groupCookie;
            }
        }
    }

    if (defaultGroupId == null)
    {
        defaultGroupId = Database.AccountGroupCollection.AsQueryable().FirstOrDefault()!._id.ToString();
        
        HttpContext.Response.Cookies.Append(cookieName, defaultGroupId, new CookieOptions()
        {
            Path = "/",
            Expires = DateTimeOffset.UtcNow.AddYears(2),
            IsEssential = true,
            SameSite = SameSiteMode.Strict,
        });
    }
}

<div class="text-end mb-3">
    <a class="btn btn-primary" href="/thread/new" role="button">New Thread</a>
    <a class="btn btn-success" href="#footer" role="button">⏬</a>
</div>

<select id="groupSelect" class="form-select mb-3">
    @foreach (AccountGroup group in Database.AccountGroupCollection.AsQueryable())
    {
        <option value="@group._id.ToString()">@group.Name</option>
    }
</select>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Thread Name</th>
        <th scope="col">State</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="text-end mt-2">
    <a class="btn btn-primary" href="/thread/new" role="button">New Thread</a>
    <a class="btn btn-success" href="#header" role="button">⏫</a>
</div>

<!-- Error modal -->
<div id="error-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Error</h5>
            </div>
            <div class="modal-body">
                <p id="error-element">An error occurred while fetching threads.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function repopulateTable(response) {
            for (const thread of response) {
                $("tbody").append("<tr><td><a href=\"/thread/" + thread.id + "/\">" + thread.name + "</a></td><td>" + thread.state + "</td></tr>");
            }
        }

        function requestRepopulateTable() {
            const groupId = $("#groupSelect").val();
            
            $("tbody").empty();
            
            $.ajax({
                method: "GET",
                url: "/api/v1/group/" + groupId + "/threads"
            }).done(repopulateTable).fail(function () {
                $("#error-modal").modal("show");
            });
        }
        
        $("#loadAllCheck").change(function () {
            requestRepopulateTable();
        });
        
        $(function () {
            $("#groupSelect").change(function () {
                let date = new Date();
                date.setFullYear(date.getFullYear() + 2);
                
                const groupId = $("#groupSelect").val();
                
                document.cookie = "@cookieName" + "=" + groupId + "; path=/; expires=" +  date.toUTCString() + "; samesite=strict";
                
                requestRepopulateTable();
            });
            
            $("#groupSelect").val("@defaultGroupId").change();
        });
    </script>
}
