<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <packageSources>
        <add key="public" value="https://api.nuget.org/v3/index.json" />
        <add key="oatmealdome" value="%NuGet_SourceUrl%"  />
    </packageSources>

    <packageSourceCredentials>
        <oatmealdome>
            <add key="Username" value="%NuGet_SourceUserName%" />
            <add key="ClearTextPassword" value="%NuGet_SourcePassword%" />
            <add key="ValidAuthenticationTypes" value="basic" />
        </oatmealdome>
    </packageSourceCredentials>
</configuration>
